<div class="content">
  <!-- head infos -->
  <div class="panle">
    <div class="content-info">
      <div class="title-wrapper">
        <span *ngIf="content.top" class="put_top">置顶</span>
        <span class="title">{{content.title}}</span>
      </div>
      <div class="infos">
        <span>发布于 <span [innerHTML]="getDate(content.create_at)"></span></span>
        <span>作者 &middot; <a [routerLink]="['/user', content.author && content.author.loginname]">{{content.author && content.author.loginname}}</a></span>
        <span>&middot; {{content.visit_count}} 次浏览</span>
        <span>来自 {{content.tab === "share" ? '分享' : content.tab === ask ? '问答' : content.tab === 'job' ? '招聘' : ''}}</span>
      </div>
    </div>
    <hr>
    <!-- content -->
    <div class="content_text" [innerHTML]="content.content">
    </div>
  </div>
</div>
<!-- reply infos-->
<div class="content">
  <div class="panel">
    <div class="replies">
      <div class="reply_count">
        {{content.reply_count}} 回复
      </div>
      <div *ngFor="let reply of content.replies;let i = index">
        <hr>
        <div class="reply">
          <a [routerLink]="['/user', reply.author && reply.author.loginname]">
            <img [src]="reply.author && reply.author.avatar_url" alt="" width="30px" height="30px">
          </a>
          <span>{{reply.author && reply.author.loginname}}</span>
          <a> <span>{{i+1}}楼</span> &middot; <span>{{reply.create_at | createTime}}</span></a>
          <div class="reply_content" [innerHTML]="reply.content"></div>
          <span class="ups"> 赞&nbsp; {{reply.ups.length}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
