<div class="content">
  <div class="panel">
    <div class="bread tag">
      <span class="location">主页</span> /
    </div>
    <div class="user_infos cell">
      <div class="user_avatar">
        <img [src]="user.avatar_url" alt="">
        <span>{{user.loginname || 'loading'}}</span>
      </div>
      <div class="score">{{user.score || 'loading'}} 积分</div>
      <div>github: <a [href]="'https://www.github.com/' + user.githubUsername">@{{user.githubUsername || 'loading'}}</a></div>
      <div class="register_time">注册时间 <span> {{user.create_at | createTime}}</span></div>
    </div>
  </div>
</div>
<div class="content">
  <div class="panel">
    <div class="tag">
      最近创建的话题
    </div>
    <div *ngFor="let topic of user.recent_topics">
      <div class="display_content">
        <a [routerLink]="['/user', topic.author && topic.author.loginname]">
          <img [src]="topic.author && topic.author.avatar_url" alt="" width="30px" height="30px">
        </a>
        <a [routerLink]="['/topic', topic.id]">{{topic.title}}</a>
        <span class="pull-right">{{topic.last_reply_at | createTime}}
            </span>
      </div>
      <hr>
    </div>
  </div>
</div>
<div class="content">
  <div class="panel">
    <div class="tag">
      最近参与的话题
    </div>
    <div *ngFor="let reply of user.recent_replies">
      <div class="display_content">
        <a [routerLink]="['/user', reply.author && reply.author.loginname]">
          <img [src]="reply.author && reply.author.avatar_url" alt="" width="30px" height="30px">
        </a>
        <a [routerLink]="['/topic', reply.id]">{{reply.title}}</a>
        <span class="pull-right">{{reply.last_reply_at | createTime}}</span>
      </div>
      <hr>
    </div>
  </div>
</div>
