.content {
  background: white;
  border-radius: 4px;
  margin: 0 5px;
  margin-top: 20px;
  box-shadow: 1px 1px 10px 0 #ccc;
  transition: box-shadow .7s;
}

.content:hover {
  box-shadow: 2px 2px 5px 5px #ccc;
  transition: box-shadow .7s;
}

.tag {
  padding: 4px;
  border-bottom: 1px solid #ccc;
}

.panel hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.display_content {
  padding: 5px;
  padding-left: 10px;
}
